body {
   font-family: "Bitter", serif;
}

h2 {
   font-size: 28px;
}

.white-text {
   display: inline !important;
   color: var(--white);
   font-weight: 700;
   font-style: italic;
}

.lh {
   line-height: 158%;
}

.display-4 {
   font-size: 12px;
}

.display-5 {
   font-size: 8px;
}

.text-align-center {
   text-align: center;
}
